<div class="row clearfix">
	<div class="col-sm-5">
		<div ng-show="activeGig" class="panel panel-primary">
			<div class="panel-heading">
				<p class="panel-title">Details<button type="button" class="close" ng-click="toggleGigDetail()">&times;</button></p>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-hover ">
					<tbody>
						<tr ng-repeat="(key, value) in activeGig">
							<td>{{ key }}</td>
							<td>{{ value }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div ng-show="!activeGig" class="panel panel-primary">
			<div class="panel-heading">
				<p class="panel-title">Aktuelle Gigs</p>
			</div>
			<div class="panel-body"> <!-- style="max-height: 450px;overflow-y: scroll;" -->
			<div class="form-group">
				<input type="text" class="form-control" ng-model="query" placeholder="Search">
				<!-- <select class="form-control" ng-model="orderProp">
								<option value="-terminpos">Neueste Zuerst</option>
								<option value="terminpos">Älteste Zuerst</option>
								<option value="event2">Name</option>
				</select> -->
			</div>
			<ul class="list-unstyled">
				<li ng-repeat="gig in gigs | filter:query | orderBy:orderProp">
					<div class="panel panel-default">
						<div class="panel-body">
							<a ng-click="toggleGigDetail(gig)">{{gig.date | date:'dd.MM.yyyy'}} - {{gig.title}}</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>